<h4 style="margin-bottom: 50px;">طلبات الموظف</h4>
<div class="employee-container">
    
    <div class="list">      
        
        <div class="req-status">
            <p id="new" class="requests active" (click)="selected($event)">الطلبات الجديدة</p>            
            <p id="old" class="requests" (click)="selected($event)">الطالبات السابقة</p>
            
            <!--
                <p id="uncomplete" class="requests" (click)="selected($event)">طلبات غير مكتملة</p>
            <p id="expired" class="requests" (click)="selected($event)">الطلبات المنتهية</p>
            <p id="accepted" class="requests" (click)="selected($event)">الطلبات المقبولة</p>
            <p id="rejected" class="requests" (click)="selected($event)">الطلبات المرفوضة</p>
                <p class="active" name="hana" ng-bind='filterText' (input)="onFilterSelected()">جميع الطلبات</p>
            <p value="hi" ng-bind='filterText' (click)="onFilterSelected()">الطلبات الجديدة</p>
            <p>الطلبات المقبولة</p>
            <p>طلبات قيد الإنتظار</p>
            <p>الطلبات المرفوضة</p>
            -->
            
            
        </div>
        <app-employee-requests-filter (id)="filterdTextMethod($event)"></app-employee-requests-filter>
        <!--<button>{{filterdTextValue}}</button>-->
        <div style="display:flex;justify-content:space-between;align-items: center;margin: 30px 0 5px;">
            <app-employee-request-btn></app-employee-request-btn>
            <app-employee-request-status></app-employee-request-status>
        </div>
        
        <app-employee-requests-list [filterText] = "filterdTextValue"></app-employee-requests-list>
    </div>
</div>

