<div class="traking-status-componant">
    <div class="traking-element">
        <div class="element-circle"><span>1</span></div>
        <div class="element-title">بيانات الطلب</div>                       
    </div>
    <div class="traking-element">
        <div class="step-bar-right"></div>
        <div class="element-circle"><span>2</span></div>
        <div class="element-title">عناصر الصرف</div>                                          
    </div>
    <div class="traking-element">
        <div class="step-bar-right"></div>
        <div class="element-circle"><span>3</span></div>
        <div class="element-title">المرفقات</div>
    </div>
    <div class="traking-element">
        <div class="step-bar-right"></div>
        <div class="element-circle"><span>4</span></div>
        <div class="element-title">اكمال الطلب</div>
    </div>
</div>

