<div class="main-container">
    <div class="container">
        <div class="main-content">
            
        
            <!--
                <ul>
                <li routerLinkActive="active" style="border-top-right-radius: 5px;"><a routerLink="employee">طلبات الموظف</a></li>
                <li routerLinkActive="active" style="border-top-left-radius: 5px;"><a routerLink="leaders">المرؤوسين والمشاريع</a></li>
            </ul>
            <app-employee></app-employee>
            <app-leaders></app-leaders>-->
            <router-outlet></router-outlet>
        
        </div>
    </div>
</div>
