.invoice-header{
    font-size: 12px;
    color: #9e9e9e;
}
.invoice-content{
    padding-bottom: 5px;
    font-size: 13.5px;
    color: #3d4247;;
    font-weight: bold;
}
.invoice-content span{
    font-weight: normal;
    padding-right: 5px;
}
.print-btn{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: white;
    color: #183153;
    border: 1px solid #183153;
    position: relative;
    transform: .3s;
}
.print-btn:hover{
    background-color: #183153;
    color: white;
}
.print-btn::after{
    position: absolute;
    content: attr(desc);
    background-color: #00000057;
    color: white;
    top: 38px;
    left: -16px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: .3s;
}
.print-btn:hover::after{
    opacity: 1;
}
.print-header{
    text-align: center;
    display: none;
}
.print-header p{
    padding-top: 10px;
    font-weight: bolder;
    
}
.general-info{
    display: flex;
    justify-content: space-between;
}
.top-info{
    display: flex;
    gap: 150px;
}
@media (max-width:480px){
    .general-info{
        flex-direction: column;
    }
    .top-info{
        justify-content: space-between;
        gap:0;
    }
}