

<div *ngFor = "let emp of filteredEmployee;">
    <p>Hello</p>
    <p>emp.custodyDate</p>
</div>
<hr>

<div *ngFor = "let emp of allEmployee;">
    <!--<button>{{filterText}}</button>-->
    <div class="outer-div list-info" id={{emp.id}}>
        <div class="employeeList ">
            <div class="empLst-st-id">
                <P [ngClass]="{statusNew: emp.requestStatus === 2,statusPen: emp.requestStatus === 1,statusAcc: emp.requestStatus === 3,statusRej: emp.requestStatus === 4,statusIncomplate: emp.requestStatus === 5, statusExpired: emp.requestStatus === 6}"></P>
                <div class="cust-Id">
                    <span class="pHeader">رقم الطلب:</span>
                    <p>{{emp.id}}</p>
                </div>
                <div class="cust-date">
                    <span class="pHeader">تاريخ الطلب:</span>
                    <p>{{emp.requestDate}}</p>
                </div>
                <div class="cust-proName">
                    <span class="pHeader">المشروع:</span>
                    <p>{{emp.projectName}}</p>
                </div>
            </div>
<!--routerLink="/employee/employee-status"-->
            <div class="empLst-oth" *ngIf="emp.requestStatus === 1 || emp.requestStatus === 2">
                <button class="update-btn" describtion="تحديث" (click)="onEdit(emp.id)"><a [routerLink]="'/employee/employee-status'" [state]="{data:{custodyId: emp.id,pageNum: emp.requestStatus}}" ><fa-icon [icon]="faPenToSquare"></fa-icon></a></button>
                <button class="delete-button" describtion="حذف" data-bs-toggle="modal" data-bs-target="#exampleModal"><fa-icon [icon]="faTrash"></fa-icon></button>              
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-header">           
                                <fa-icon [icon]="faTrashCan" class="confirm-delete-icon"></fa-icon>
                                <h1 class="modal-title fs-5" id="exampleModalLabel">هل تريد حذف الطلب؟</h1>
                            </div>
                            <div class="modal-body">
                                عند اختيارك "نعم" سيتم حذف الطلب بشكل نهائي 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn confirm-btn close" data-bs-dismiss="modal">لا</button>
                                <button type="button" class="btn confirm-btn save" (click)="DeleteItem(emp.id)" data-bs-dismiss="modal">نعم</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="emp.deletableRequest" style="padding-right: 5px;">
            <div class="more-details">
                <div>
                    <p class="pHeader">رقم التحويلة:</p>
                    <p>{{emp.extensionNumber}}</p>
                </div>
                <div class="cust-phoneNum">
                    <p class="pHeader">رقم الجوال:</p>
                    <p>{{emp.mobileNumber}}</p>
                </div> 
                <div class="cust-purpose">
                    <p class="pHeader">الغرض من العهدة:</p>
                    <p>{{emp.purpose}}</p>
                </div>
                <div class="cust-proName">
                    <p class="pHeader">المرفقات:</p>
                    <p>emp.attachment</p>
                    
                    
                    
                </div>
            </div>
            <div>
                <div>
                    <p class="pHeader">عناصر الصرف:</p>
                    <div class="cost-component">
                        <div>
                            <span class="pHeader">الوصف:</span>
                            <span style="font-size: 14px;padding-right: 5px;">{{emp.custodyItems}}</span>
                        </div>
                        <div>
                            <span class="pHeader">المبلغ:</span>
                            <span style="font-size: 14px;padding-right: 5px;">200SR</span>
                        </div>
                        
                    </div>
                    <div class="cost-component">
                        <div>
                            <span class="pHeader">الوصف:</span>
                            <span style="font-size: 14px;padding-right: 5px;">desc1</span>
                        </div>
                        <div>
                            <span class="pHeader">المبلغ:</span>
                            <span style="font-size: 14px;padding-right: 5px;">200SR</span>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 1rem;display: flex;gap: 5px;align-items: center;">
                    <p class="pHeader" style="font-weight: bold;">المبلغ كامل:</p>
                    <p style="font-size: 14px;">emp.costSR</p>
                </div>
            </div>
            
            
          
            <div style="margin-top: 5px;">
                <p style="font-weight: bold;">حالة الطلب:</p>
                <span *ngIf="emp.requestStatus == 1">طلب جديد</span>
                <span *ngIf="emp.requestStatus == 2">طلب مقبول</span>
                <span *ngIf="emp.requestStatus == 3">طلب مرفوض</span>
                <span *ngIf="emp.requestStatus == 4">طلب تحت المعالجة</span>
                <span *ngIf="emp.requestStatus == 5">طلب منتهي</span>
                <span *ngIf="emp.requestStatus == 6">طلب غير مكتمل</span>
            </div>
            
            
            
        </div>
        <div style="text-align: center;font-size: 11px;" (click)="emp.deletableRequest=!emp.deletableRequest" (click)="next()">        
            <div style="width: fit-content;margin: auto;cursor: pointer;">
                <p *ngIf="emp.deletableRequest===false">عرض تفاصيل اكثر
                    <fa-icon [icon]="faAngleDown"></fa-icon>
                </p>
                <p *ngIf="emp.deletableRequest===true">عرض تفاصيل أقل
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                </p>
            </div>
            
        </div>
    </div>
    
</div>

<div class="outer-div list-info empty-box" *ngIf="emptyAlert">
    لا يوجد طلبات عهد...
</div>


