.request-container{
    padding:40px 30px 0;
    border: 1px solid #ededed;
    border-radius: 5px;
    position: relative;
    background-color: white;
}

#project{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-color: #ced4da;
    outline: none;
    padding:0 10px;
}
#project:focus{
    border-color: #91befe;
    box-shadow: 0 0 0px 4px #c2dbfe;
}

.add fa-icon{
    color: #183153;
    font-size: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 45px;
}
th{
    background-color: #fdfdfd;
}
tr, th ,td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px 20px;
    color: #183153;
    font-size: 14px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}
.save-btn, .delete-btn{
    width: 150px;
    height: 35px;
    position: relative;
}
.save-btn::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-radius: 5px;
    background-color: #ffffff75;
    top: 50%;
    left: 50%;
}
.delete-btn::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-radius: 5px;
    background-color: #18315382;
    top: 50%;
    left: 50%;
}
.save-btn:hover::before, .delete-btn:hover::before{
animation: btnhover .7s;
}
.save-btn{
    border: none;  
    background-color: #183153;
    color: white;
    border-radius: 5px;
}

.delete-btn{
    color: #183153;
    text-decoration: none;
    border: 1px solid #183153;
    border-radius: 5px;
    padding: 4px 40px;
    text-align: center;
}
small{
    color:#9e9e9e;
    padding: 5px;
}
.header ul{
    margin: 0;
    padding: 20px 1px;
    list-style: none;
    display: flex;
    gap: 5px;
    align-items: flex-end;
}
.header ul li{
    font-size: 13px;
}
.add{
    border-radius: 5px;
    font-size: 25px;
    width: fit-content;
    padding: 0 12px;
    background-color: #183153;
    color: white;
    margin-right: 2px;
    border: none;
}
.delete-button{
    background-color: transparent;
    border:none;
    border-radius: 0;
    margin: 0;
    position: relative;
    color: #183153;
    transition: .3s;
}
.delete-button::after{
    content: attr(describtion);
    position: absolute;
    width: 50px;
    bottom: -25px;
    right: -11px;
    background-color: #adadad;
    color: white;
    font-weight: normal;
    font-size: 11px;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0;
    transition: .3s;
}
.delete-button:hover::after{
    opacity: 1;
}
.delete-button:hover fa-icon{
    color:#214577;
}


.delete-button:hover a {
    color: white;
}
.modal-header{
    flex-direction: column;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
}
.btn-close{
    margin: 10px 15px 0;
    border: none;
    width: fit-content;
}
.confirm-delete-icon{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    background-color: #f9716b;
    box-shadow: 0 0 20px 0 #ff918c;
}
.modal-title.fs-5{
    margin-top: 30px;
    color: black;
}
.modal-body{
    color: #8c8c8c;
    text-align: center;
    padding: 0;
    font-size: 14px;
}
.modal-footer{
    border-top: 0;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 28px;
}
.confirm-btn{
    width: 100px;
    border: none;
    color: white;
    font-weight: normal;
}
.confirm-btn.close{
    background-color: #6c757d;
}
.confirm-btn.close:hover{
    background-color: #5c646b;
    color: white;
}
.confirm-btn.save{
    background-color: #0d6efd;
}
.confirm-btn.save:hover{
    background-color: #0a56c7;
    color: white;
}

.form-btn{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.form-btn p, input[type='submit']{
    margin: 0;
    background-color: #009688;
    color: white;
    border-radius: 5px;
    padding: 5px 25px;
    position: relative;
    cursor: pointer;
    border: none;
}
.form-btn #prevbtn{
    background-color: #ffffff;
    color: #009688;
    border: 1px solid #009688;
}
.form-btn #subbtn{
    display: none;
    border: none;
}
.form-btn #prevbtn::before{
    position: absolute;
    content: "";
    width: 1%;
    height: 1%;
    background-color: #3ac69e7d;
    left:50%;
    top:50%;
    border-radius: 5px;
}
.form-btn input[type='submit']::before{
    position: absolute;
    content: "";
    width: 1%;
    height: 1%;
    background-color: #ffffff7d;
    left:50%;
    top:50%;
    border-radius: 5px;
}
.form-btn #prevbtn:hover::before,.form-btn input[type='submit']:hover::before{
    animation: btnhover .7s;
}

#phoneSmall,#extentionSmall,#projectSmall{
    display: none;
}
.my-alert-btn{
    width: 25%;
    background-color: #dcf5d7;
    color: #198754;
    padding: 20px 15px;
    border-right: 5px solid #23bd75;
    position: fixed;
    top: -65px;
    right: 35%;
    z-index: 5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: .3s;
}
.my-alert-btn.show{
    top: 10px;
}
.my-alert-btn p {
    margin: 0;
    padding-right: 13px;
}
.faCheck-btn{
    background-color: #23bd75;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 13px;
}
@keyframes btnhover {
    100%{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    
}
@media print{
    .header{
        display: none;
    }
    .form-btn{
        display: none;
    }
    .my-alert-btn{
        display: none;
    }
}



